.EventGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.EventCard {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.EventCard img {
    max-width: 100%;
    height: auto;
    width: 640px;
    height: 426px;
    background-size: cover;
}

/* Add styles for event cards here */