.EventModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.ModalContent img {
    max-width: 100%;
    height: auto;
}

/* Add styles for the modal here */